body {
	padding: 0 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}

.auth-wrapper {
	margin-top: 40px!important;
}

.text-button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
